.activity-card {
  width: 90%;
  margin: 10px 0;
  // padding: 10px;
  // border: 1px solid #ddd;
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .activity-image {
    width: 100%;
    height: 300px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }

  .activity-content {
    width: 92%;
    padding-bottom: 15px;
    margin-left: 4%;
    margin-right: 4%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .title {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 6px;
    }

    .organizer {
      font-size: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 10px;
      color: #666;

      .icon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
    }

    .details {
      font-size: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      overflow: hidden;
      width: 100%;

      .detail-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 6px;
        margin-right: 10px;
        background-color: #eee;
        padding: 4px 15px 4px 10px;
        border-radius: 5px;
        color: #666;

        .icon {
          width: 20px;
          height: 20px;
          margin-right: 6px;
        }
      }

      .right-detail-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 6px;
        margin-right: 10px;
        padding: 4px 8px;
        border-radius: 20px;
        color: #666;

        .icon {
          width: 24px;
          height: 24px;
          margin-right: 6px;
        }
      }
    }
  }
}
