.about-travel-section {
  padding: 40px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;

  .sectiontitle {
    font-size: 27px;
    font-weight: bold;
    color: #333;
    margin-bottom: 12px;
    text-align: left;
    width: 100%;
  }

  .tag-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;

    .representative-tag {
      font-size: 25px;
      color: #7A73FF;
      margin-bottom: 12px;
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;

      .tag {
        font-size: 23px;
        color: #333;
        background-color: #f0f0f0;
        padding: 6px 12px;
        border-radius: 16px;
      }
    }
  }

  .details {
    margin-bottom: 12px;

    .title {
      font-size: 25px;
      color: #333;
      margin-bottom: 4px;
      text-align: left;
      color: #7A73FF;
    }

    .content {
      font-size: 25px;
      color: #666;
      line-height: 1.5;
      text-align: left;
      display: block;
      margin-left: 0; /* Reset any additional margins */
      padding-left: 0
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      margin-top: 12px;

      .tag {
        font-size: 23px;
        color: #333;
        background-color: #f0f0f0;
        padding: 6px 12px;
        border-radius: 10px;
      }
    }
    .map-container {
      margin-top: 16px;
  
      .map-image {
        width: 100%;
        border-radius: 12px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      }
    }
  }
}



