.host-detail-wrap {
  display: flex;
  //   flex-direction: row;
  justify-content: flex-start;
  padding: 30px 50px;
  border-top: 1px solid #d6d6d6;
  background-color: #fff;
  .host-detail-left {
    overflow: hidden;
  }
  .host-detail-right {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .host-detail-name {
      margin-top: 10px;
      font-size: 28px;
      font-weight: 600;
    }
    .host-detail-des {
      margin-top: 15px;
      font-size: 24px;
    }
  }
}
