



.points {
  background-color: #ffffff;
}

.earn-coins {
  padding: 30px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  .title {
    font-size: 33px;
    font-weight: bold;
    color: #333;
  }

  .link {
    color: #888;
    font-size: 24px;
    cursor: pointer;
  }

  .task-list {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }

  .task-item {
    flex-direction: column;
    padding: 36px 90px;
    border-radius: 12px;
    border: 1px solid #dcdcdc;

    .task-title {
      font-size: 30px;
      font-weight: bold;
      color: #333;
      margin-bottom: 5px;
      display: block; 
    }

    .task-description {
      font-size: 28px;
      color: #666;
      line-height: 1.6;
      white-space: pre-wrap;
      display: block; 
    }
  }
}
