.message-card {
  border-top: 1px solid #97979786;
  .des-container {
    margin: 40px 28px;
  }
}
.request-custom-card {
  overflow: hidden;
  .diaglog-container-title {
    margin-bottom: 18px;
  }
  .dialog-save-button {
    margin-top: 0px;
  }
}
