/* index.scss */

.contact-toggle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;
  background-color: #fff;
}
//是否提供个人联系方式
.contact-toggle-text {
  font-size: 26px;
  color: #333;
  margin-right: 80px;
}

.contact-input-group {
  width: 80%;
}

.contact-checkbox-checkbox {
  width: 16px;
  height: 16px;
  margin-bottom: 22px;
}
//微信，邮箱。。
.contact-checkbox-text {
  font-size: 25px;
  margin-left: 35px;
}

.contact-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
}

.contact-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

//填写微信。。
.contact-input {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 40px;
  padding: 10px;
  border-radius: 4px;
  background-color: #f9f9f9;
  font-size: 25px; /* Adjust the font size as needed */
}
