.message-box {
  display: flex;
  margin-bottom: 20rpx;
  align-items: flex-start;
  
  .avatar {
    width: 80rpx;
    height: 80rpx;
    border-radius: 50%;
  }
  
  .bubble {
    max-width: 70%;
    background-color: #F5F5F5;
    border-radius: 30rpx;
    padding: 30rpx 36rpx;
    margin: 0 20rpx;
    position: relative;
  }
  
  .content {
    display: block;
    margin-bottom: 30rpx;
    font-size: 32rpx;
    line-height: 1.5;
    color: #333333;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: break-word;
  }
  
  .time {
    font-size: 24rpx;
    color: #999999;
    margin-top: 10rpx;
    text-align: right;
    display: block;
  }
  
  .extra-image {
    width: 100%;
    margin: 20rpx auto;
    border-radius: 8rpx;
    display: block;
  }
  
  .action-button {
    height: 86rpx;
    line-height: 86rpx;
    background-color: #FFD35E;
    color: #333333;
    font-size: 28rpx;
    font-weight: normal;
    border-radius: 100rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    white-space: nowrap;
    box-shadow: none;
    
    &::after {
      border: none;
    }
  }

  .action-button.disabled {
    background-color: #ddd;
    color: #999;
    pointer-events: none;
    border: none;
  }
  
  .single-btn {
    padding: 0 80rpx;
    min-width: 240rpx;
    margin: 20rpx auto 10rpx;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20rpx;
    margin-bottom: 10rpx;
    
    .group-btn {
      flex: 1;
      margin: 0 10rpx;
      
      &:first-child {
        margin-left: 0;
      }
      
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

/* 左侧消息 */
.message-box.left {
  flex-direction: row;
  
  .avatar {
    margin-right: 10rpx; // 增大头像与气泡的间距
    margin-left: 10rpx;
  }
}

/* 右侧消息 */
.message-box.right {
  flex-direction: row-reverse;
  
  .avatar {
    margin-right: 10rpx; // 增大头像与气泡的间距
    margin-left: 10rpx;
  }
}