.toggle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 35px;
  padding-right: 35px;
  background-color: #fff;
  border-radius: 8px;
}

.toggle-text {
  font-size: 28px;
  color: #333;
}