/* index.scss */
.seeking {
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 50px;
    border-radius: 20px;
  
    &-container {
      padding: 30px;
      border-radius: 20px;
  
      .seeking-title {
        font-size: 28px;
        font-weight: 400;
      }
      .seeking-avatar {
        position: relative;
        width: 90px;
        height: 90px;
        margin-right: 20px;
  
        Image {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
    }
  
    &-content {
      display: flex;
      flex-direction: row;
      margin-top: 15px;
    }
  
    &-text {
      font-size: 22px;
      font-weight: 300;
      display: flex;
      flex-direction: column;
      color: #979797;
  
      &-date {
        display: flex;
        align-items: center;
      }
    }
  }
  