# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/
.idea

# Node.js

node_modules/*
miniprogram_npm/*

# 构建输出
dist/*

# WebStorm / JetBrains
.idea/
# Visual Studio Code
.vscode/

# macOS 系统文件
.DS_Store
*/.DS_Store

# 日志文件
*.log

# 临时文件
*.tmp
*.swp

# 错误的 Git 文件
*.lock
