.message-box {
  display: flex;
  margin-bottom: 20rpx;   // 每条消息与下一条的间距
  align-items: flex-start;

  .avatar {
    width: 80rpx;         // 头像更大
    height: 80rpx;
    border-radius: 50%;
  }

  .bubble {
    max-width: 65%;
    background-color: #F5F5F5;
    border-radius: 10rpx;
    padding: 20rpx;
    margin: 0 30rpx;      // 让气泡整体与头像拉开一点距离
    flex-shrink: 0;       // 如果不想气泡被挤压，可以加上
  }

  .content {
    margin-bottom: 6rpx;
    font-size: 28rpx;
    color: #333333;

    /* 让文本自动换行 */
    white-space: pre-wrap;      /* 保留换行符并自动换行 */
    word-break: break-word;     /* 对长单词进行换行 */
    overflow-wrap: break-word;  /* 对旧版浏览器的兼容写法 */
  }

  .time {
    font-size: 24rpx;
    color: #999;
  }
}

/* 左侧消息 */
.message-box.left {
  flex-direction: row;   // 默认从左到右
  .avatar {
    margin-right: 10rpx; // 增大头像与气泡的间距
  }
}

/* 右侧消息 */
.message-box.right {
  flex-direction: row-reverse; // 头像在右，气泡在左
  .avatar {
    margin-left: 10rpx;        // 增大头像与气泡的间距
  }
}
