.des-part {
  background-color: white;
  width: 580px;
}
.des-container {
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.des-title {
  color: #979797;
  font-weight: bold;
  font-size: 28px;
}
.des-text-container {
  background-color: #f7f7f7;
  border-radius: 20px;
  margin-top: 20px;
  Input {
    color: #979797;
  }
}
.des-text {
  margin: 20px 20px;
  color: #979797;
}
.caution-text {
  margin: 20px 20px;
  font-size: 30px;
  color: #6b63b9;
}

.toggle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 0; /* Ensure no padding */
  margin: 0;  /* Ensure no margin */
}


.toggle-button {
  background-color: #fdd835;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.toggle-button.public {
  background-color: #fdd835; /* Yellow */
}

.toggle-button.private {
  background-color: #888; /* Grey */
}

.toggle-button-container {
  display: flex;
  align-items: center;
}

.toggle-status {
  margin-left: 1px;
  color: #666;
  font-size: 20px;
}

.toggle-explanation {
  color: #888;
  font-size: 20px;
}

