.CustomFullScreenDialog {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.dialog-container {
  background-color: white;
  width: 90%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dialog-save-button {
  width: 50%;
  height: 60px;
  border-radius: 60px;
  background-color: #ffd111;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 32px;
  margin-bottom: 32px;
}
