.points-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 10px;
  background-color: white;
  margin-top: 4%;

  .table-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    align-items: center;
    height: 60px;
  }

  .header-item {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: rgba(77, 77, 77, 1);
  }

  .table-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(214, 214, 214, 1);
    padding: 10px 0;
    height: 80px;
  }

  .table-cell {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    font-size: 24px;
    color: rgba(77, 77, 77, 1);
  }

  .time {
    display: block;
    color: rgba(214, 214, 214, 1);
    font-size: 18px;
  }

  .no-data {
    padding: 20px;
    text-align: center;
    color: #999;
  }
}
