.selection-part {
  background-color: white;
  margin-top: 8px;
  &.last {
    margin-bottom: 8px;
  }
}

.selection-content {
  margin: 20px 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.selection-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;

  Text {
    font-size: 28px;
    color: #222222;
  }
}
.icon-container {
  width: 68px;
  height: 68px;
  border-radius: 68px;
  background-color: #eceaff;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  .utility-pic {
    width: 55%;
    height: 55%;
  }
  .capacity-pic {
    width: 100%;
    height: 100%;
    margin-left: 12px;
  }

  Image {
    width: 48px;
    height: 48px;
  }
}
.selection-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  Image {
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }
  Text {
    color: #979797;
    font-size: 28px;
  }
}
.post-submit-button {
  width: 90%;
  margin-left: 5%;
  height: 90px;
  border-radius: 60px;
  background-color: #d6d6d6;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 160px;
  margin-top: 20px;
  background-color: #d6d6d6;
  color: #ffffff;
  font-size: 30px;
  //保证吸底的CustomTabBar不会遮挡
}
