.MsgInfoBoard {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.msg-container {
  background-color: white;
  width: 90%;
  border-radius: 16px;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  &-title {
    // padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid #97979787;
  }
}
.button-container {
  background-color: white;
  // width: 100%;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 50px;
}
.msg-save-button {
  width: 40%;
  height: 60px;
  border-radius: 60px;
  background-color: #ffd111;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 10px;
}

.msg-reject-button {
  width: 40%;
  height: 60px;
  border-radius: 60px;
  margin-right: 10px;
  background-color: #c0bfbc;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.selection-part {
  background-color: white;
  margin-top: 8px;
  &.last {
    margin-bottom: 8px;
  }
}

.selection-content {
  margin: 20px 20px 20px 60px;
  display: flex;
  // width: 90%;
  flex-direction: row;
  align-items: center;
  align-content: center;
}
.selection-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;

  Text {
    font-size: 28px;
    color: #222222;
  }
}
.icon-container {
  width: 68px;
  height: 68px;
  border-radius: 68px;
  background-color: #eceaff;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  .utility-pic {
    width: 55%;
    height: 55%;
  }
  .capacity-pic {
    width: 100%;
    height: 100%;
    margin-left: 12px;
  }

  Image {
    width: 48px;
    height: 48px;
  }
}
.selection-right {
  flex-grow: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 83%;
  font-size: 26px;
  color: #979797;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid #97979787;
  height: 68px;
}

.des-title {
  color: #979797;
  font-weight: bold;
  font-size: 28px;
  padding-left: 60px;
}
.des-text-container {
  margin: 0px 60px;
  background-color: #f7f7f7;
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px 20px;
  Input {
    color: #979797;
  }
}
.des-text {
  color: #979797;
  height: 200px;
  // white-space: nowrap;
  overflow-y: scroll;
  word-break: break-all;
  // text-overflow: clip;
}
