.house-detail-review {
  border-top: 1px #d6d6d680 solid;
  background-color: white;
  min-height: 100vh;
  .reviews {
    background-color: white;
    .review-card-count {
      padding: 5% 8% 0% 8%;
      //   padding-bottom;
      font-size: 26px;
    }
    .review-card-container {
      padding: 0% 8%;
      padding-bottom: 5%;
      border-bottom: 5px #d6d6d680 solid;
      padding-top: 5%;
      .review-card-text {
        font-size: 22px;
        margin-top: 15px;
      }
      .review-card-pictures {
        margin-top: 15px;
        Image {
          width: 180px;
          height: 180px;
          margin-right: 25px;
        }
      }
      .review-card-top {
        .review-card-top-right {
          font-size: 20px;
          display: flex;
          align-items: flex-end;
          color: #979797;
          .stars {
            // todo
          }
          .duration {
            margin-top: 4px;
          }
        }
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .review-card-reviewer-detail {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          .reviewer-detail-avatar {
            width: 60px;
            height: 60px;
            border-radius: 60px;
            border: 1px #6b63b9 solid;
          }
          .reviewer-detail-info {
            margin-left: 10px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            color: #979797;
            font-size: 20px;
            .reviewer-detail-name {
              margin-top: 2px;
            }
            .reviewer-detail-location {
              margin-top: 6px;
            }
          }
        }
      }
    }
  }
  .overall-ratings {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5% 8%;
    border-bottom: 5px #d6d6d680 solid;
    .average-ratings {
      font-size: 26px;
      padding: 0px 20px;
      display: flex;
      align-items: center;
      border-radius: 15px;
      background-color: #6b63b9;
      color: white;
    }
    .ratings-details {
      display: flex;
      flex-direction: wrap;
      justify-content: space-around;
      .rating-container {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .rating-title {
          font-size: 22px;
          color: #4d4d4d;
        }
        .rating-number {
          font-size: 22px;
          color: #6b63b9;
        }
      }
    }
  }
}
