.points-section {
  padding: 30px; 
  background-color: #ffffff;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  .title {
    font-size: 33px;
    font-weight: bold;
    color: #333;
  }

  .link {
    color: #888;
    font-size: 24px;
    cursor: pointer;
  }

  .balance-box {
    display: flex;
    align-items: center;
    // justify-content: flex-start;
    padding: 50px 90px;
    background-color: #f7f7f7;
    border-radius: 12px;
    border: 1px solid #dcdcdc;

    .label {
      font-size: 28px;
      color: #333;
      margin-right: 15px;
      flex-shrink: 0
    }

    .balance-amount {
      font-size: 42px;
      font-weight: bold;
      color: #4d4d4d;
      margin-right: auto;
    }

    .details-button {
      background-color: #e0e0e0;
      color: #333;
      font-size: 28px;
      padding: 11px 46px;
      border-radius: 36px;
      border: 1px solid #ccc;
      cursor: pointer;
      text-align: center;
      flex-shrink: 0;
    }
  }
}


