.comment-section {
  padding: 40px;
  background-color: white;
  margin-top: 3px;
}

.section-title-comment {
  font-size: 35px;
  color: #4d4d4d;
  margin-bottom: 50px;
}

.tags {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.comment-card {
  background-color: #ffffff;
  border-radius: 25px;
  width: 500px;
  height: 270px;
  border-color: #9b9b9b;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 50px;
  margin-bottom: 20px;
  position: relative;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.comment-profile {
  display: flex;
  align-items: center;
}

.profile-image-comment {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

.profile-info-comment {
  display: flex;
  flex-direction: column;
}

.profile-name-comment {
  font-size: 20px;
  font-weight: bold;
  color: #999;
  margin-bottom: 10px;
}

.profile-location-comment {
  font-size: 18px;
  color: #999;
}

.comment-rating {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.rating-stars {
  flex-direction: row;
}

.star {
  font-size: 40px;
  color: #e0e0e0;
}

.star.filled {
  font-size: 40px;
  color: #ffd700;
}

.rating-dates {
  font-size: 18px;
  color: #9b9b9b;
  margin-left: 10px;
}

.rating-number {
  font-size: 26px;
  color: #9b9b9b;
  margin-left: 15px;
}

.comment-body {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.comment-text {
  font-size: 22px;
  color: #4d4d4d;
  line-height: 1.5;
  max-width: 70%;
}

.room-image {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.comment-footer {
  // display: flex;
  justify-content: flex-end;
}

.show-more {
  font-size: 22px;
  color: #4d90fe;
  cursor: pointer;
}
