.text-title {
  color: #979797;
  font-weight: bold;
  font-size: 28px;
}
.caution-text {
  margin: 20px 20px;
  font-size: 30px;
  color: #6b63b9;
}
.avatar-image {
  width: 80px;
  height: 80px;
  border-radius: 3px;
  justify-content: center;
  margin-top: 20px;
  display: flex;
}
