.text-title {
  color: #979797;
  font-weight: bold;
  font-size: 28px;
}
.caution-text {
  margin: 20px 20px;
  font-size: 30px;
  color: #6b63b9;
}
.avatar-image {
  width: 80px;
  height: 80px;
  border-radius: 3px;
  justify-content: center;
  margin-top: 20px;
  display: flex;
}
.input-text-container {
  background-color: #f7f7f7;
  border-radius: 20px;
  margin-top: 20px;
  Input {
    color: #979797;
  }
}
.input-text {
  margin: 20px 20px;
  color: #979797;
}
.contact-info-board {
  .des-text {
    padding-top: 15px;
  }
}
.contact-info-board-dialog {
  .contact-info-board-editable-container {
    max-width: 100%;
    padding: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .avatar-image {
      width: 120px;
      height: 120px;
      border-radius: 3px;
    }
    .contact-info-board-editable-name {
      margin-top: 1px;
      color: #979797;
      font-size: 24px;
    }
    .wechat-id-input {
      overflow: scroll;
      background-color: #f2f2f2;
      border-radius: 20px;
      padding-left: 30px;
      min-width: 500px;
      max-width: 500px;
      height: 80px;
      display: flex;
      font-size: 26px;
      align-items: center;
      color: #979797;
      display: flex;
      align-items: center;
      // margin: 0px 75px;
      margin-top: 30px;
    }
    .contact-text-container {
      padding: 20px;
      margin-top: 30px;
      background-color: #f2f2f2;
      border-radius: 20px;
      min-width: 500px;
      max-width: 500px;
      display: flex;
      font-size: 26px;
      align-items: center;
      color: #979797;
      display: flex;
      align-items: center;
    }
  }
  .contact-info-board-uneditable {
    min-width: 90%;
    border-top: 1px solid #97979787;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .avatar-image {
      width: 120px;
      height: 120px;
      border-radius: 3px;
    }
    .house-owner-name {
      margin-top: 1px;
      color: #979797;
      font-size: 24px;
    }
    .wechat-id {
      background-color: #f2f2f2;
      border-radius: 20px;
      padding-left: 30px;
      min-width: 500px;
      max-width: 500px;
      height: 80px;
      display: flex;
      font-size: 26px;
      align-items: center;
      color: #979797;
      display: flex;
      align-items: center;
      margin: 0px 75px;
      margin-top: 30px;
    }
    .message-from-house-owner {
      margin-top: 30px;
      background-color: #f2f2f2;
      border-radius: 20px;
      padding-left: 30px;
      min-width: 500px;
      max-width: 500px;
      height: 80px;
      display: flex;
      font-size: 26px;
      align-items: center;
      color: #979797;
      display: flex;
      align-items: center;
    }
  }
}
