.submission-form {
  flex: 1;
  padding: 16px;
  background-color: #ffffff;
  position: relative; // Allows positioning elements relative to this container

  .form-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #e0e0e0;
    height: 80px;

    &:last-child {
      border-bottom: none;
    }

    Text {
      color: #333;
    }
  }

  .button-group {
    position: fixed; // Fixes the button group at the bottom
    bottom: 0;
    left: 0;
    right: 0;
    height: 10vh; // Sets the height to 10% of the viewport
    display: flex;
    justify-content: space-around; // Spaces buttons evenly
    align-items: center; // Centers buttons vertically
    padding: 10px 16px;
    background-color: #ffffff; // Background color to match the form
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); // Shadow above the bar for separation
    border-top: 1px solid #e0e0e0; // Border on top for definition
  }

  .submit-button, .extra-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    flex: 1; // Make buttons take equal space within the bar
    margin: 0 8px;
    padding: 12px 0; // Adjust padding for a comfortable touch area
    background-color: #C0C0C0;
    color: #333;
    font-size: 28px; // Larger font for readability
    font-weight: bold; // Bold text for emphasis
    border: 1px solid #d0d0d0;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .submit-button:hover, .extra-button:hover {
    background-color: #A9A9A9; // Darker gray on hover
  }
}
