.activity-post {
  display: flex;
  flex-direction: column;
  .act-post-submit-button {
    width: 90%;
    margin-left: 5%;
    height: 90px;
    border-radius: 60px;
    background-color: #d6d6d6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 40px;
    margin-top: 20px;
    background-color: #d6d6d6;
    color: #ffffff;
    font-size: 30px;
  }
  .act-des-part {
    background-color: white;
    margin-top: 8px;
  }
  .act-des-container {
    display: flex;
    flex-direction: column;
    margin: 40px 40px;
    .act-lineDiv {
      width: 100%;
      background-color: #ffffff;
      position: relative;
      height: 30px;
      border-top: 1px solid #d6d6d6;
    }
  }
  .act-des-title {
    color: #979797;
    font-weight: bold;
    font-size: 40px;
  }
  .act-des-text-container {
    background-color: #f7f7f7;
    border-radius: 20px;
    margin-top: 20px;
    Input {
      color: #979797;
    }
  }
  .act-des-text {
    margin: 20px 20px;
    color: #979797;
  }
  .act-badges {
    display: flex;
    flex-wrap: wrap; // Allow tags to wrap to the next line if needed
    margin-top: 20px;
  }

  .act-badge-item {
    background-color: #f5f3f3;
    color: #979797;
    border-radius: 7px;
    padding: 2px 8px;
    margin-right: 10px;
    margin-bottom: 10px; // Add some space below for wrapping
    font-size: 25px;
  }

  .act-badge-item-add {
    background-color: #ffd11166;
    color: #979797;
    border-radius: 7px;
    padding: 2px 8px;
    margin-right: 10px;
    margin-bottom: 10px; // Add some space below for wrapping
    font-size: 25px;
  }
}
