page {
  width: 100%;
  height: 100%;
  background-color: #ffffff !important;
}
.tab {
  &-bar {
    border-top: 1px solid #d9d9d9;
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 80px;
  }

  &-item {
    padding: 20px 40px;
    display: flex;
    flex-direction: row;

    image {
      width: 48px;
      height: 48px;
      margin-right: 10px;
    }

    Text {
      color: #979797;
      transition: color 0.3s;
    }

    &.active Text {
      color: #6b63b9;
    }

    &.active {
      border-bottom: #6b63b9 6px solid;
    }
  }
}
.search-area {
  // background-color: #f5f5f5;
  padding-top: 80px;
}


.activity-text-button {
  margin: 10px 0;
  padding: 10px;
  background-color: #a6a0e0;
  color: white;
  border-radius: 5px;
  text-align: center;

  position: fixed;
  bottom: 200px;
  right: 70px;
  width: 40px;
}

.house-text-button {
  margin: 10px 0;
  padding: 10px;
  background-color: #a6a0e0;
  color: white;
  border-radius: 5px;
  text-align: center;

  position: fixed;
  bottom: 270px;
  right: 70px;
  width: 40px;
}
.house-request-text-button {
  margin: 10px 0;
  padding: 10px;
  background-color: #a6a0e0;
  color: white;
  border-radius: 5px;
  text-align: center;

  position: fixed;
  bottom: 340px;
  right: 70px;
  width: 40px;
}

.close-text-button {
  margin: 10px 0;
  padding: 10px;
  background-color: #a6a0e0;
  color: white;
  border-radius: 5px;
  text-align: center;

  position: fixed;
  bottom: 410px;
  right: 70px;
  width: 40px;
}


.add-button {
  position: fixed;
  bottom: 180px;
  right: 70px;
  width: 100px;
  height: 100px;
  // background-color: #6b63b9;
  Image {
    width: 100px;
    height: 100px;
  }
  // border-radius: 50%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // color: #fff;
  // font-size: 70px;
  z-index: 2;
}
.page-post-modal {
  z-index: 1001; //依赖另一个zindex 勿改
  top: 0;
  left: 0;
  position: fixed;
  width: 100vh;
  height: 100vh;
  background-color: rgba(5, 5, 5, 0.5);
  Image {
    height: 80px;
    width: 160px;
    position: fixed;
    right: 83px;
  }
  .post-close {
    width: 100px;
    height: 100px;
    right: 70px;
  }
  .post-close {
    bottom: 240px;
  }
  .post-activity {
    bottom: 550px;
  }
  .post-house {
    bottom: 350px;
  }
  .house-request {
    bottom: 450px;
  }
}
