.card {
  margin: 0px auto;
  min-width: 90%;
  max-width: 90%;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  // align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  padding: 20px;

  &-left {
    margin-right: 30px;
    Image {
      width: 200px;
      height: 200px;
      border-radius: 10px;
    }
  }

  &-right {
    position: relative;
    margin-right: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-top {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      align-items: center;
      font-size: 24px;
      .house-title {
        font-weight: 600;
      }
      .house-status {
        font-size: 18px;
        color: #979797;
      }
    }

    &-middle {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;

      &-text {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        color: #979797;
        .house-owner-info {
          margin-bottom: 10px;
        }
      }

      Text {
        font-size: 20px;
      }

      Image {
        width: 80px;
        height: 80px;
        margin-right: 20px;
      }
    }

    &-bottom {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      &-button {
        padding: 15px 30px;
        font-size: 20px;
        display: flex;
        align-items: center;
        border-radius: 40px;
        border: 1px solid #979797;
        &.second {
          margin-left: 20px;
          &.noclick {
            background-color: #f2f2f2;
            color: #000;
            border: none;
            pointer-events: none;
            &:hover {
              background-color: darken(#ffd111, 10%);
            }
          }
          &.click {
            background-color: #ffd111;
            color: #000;
            border: none;
            &:hover {
              background-color: darken(#ffd111, 10%);
            }
          }
        }
        &.noclick {
          background-color: #f2f2f2;
          color: #000;
          border: none;
          pointer-events: none;
          &:hover {
            background-color: darken(#ffd111, 10%);
          }
        }
        &.click {
          background-color: #ffd111;
          color: #000;
          border: none;
          &:hover {
            background-color: darken(#ffd111, 10%);
          }
        }
      }
    }
  }
}
