.background {
  background: #f5f5f5;
  background-color: #f5f5f5;
  height: 100vh;
  width: 100vw;
  padding-top: 10px;
}

.purple-fill-button {
  width: 75%;
  height: 71px;
  color: #ffffff;
  font-size: 32px;
  background: #7a63c7;
  border: 4px solid #7a63c7;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 96px;
  margin: 10px auto;
}

.yellow-fill-button {
  width: 75%;
  height: 71px;
  color: #ffffff;
  font-size: 32px;
  background: #ffd35e;
  border: 4px solid #ffd35e;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 96px;
  margin: 10px auto;
}

.purple-empty-button {
  width: 75%;
  height: 71px;
  color: #333333;
  font-size: 32px;
  background: #f5f5f5;
  border: 4px solid #7a63c7;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 96px;
  margin: 10px auto;
}

.yellow-empty-button {
  width: 75%;
  height: 71px;
  color: #333333;
  border: 4px solid #ffd35e;
  font-size: 32px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 96px;
  margin: 10px auto;
}

.reject-modal-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

  .reject-modal {
    width: 600px;
    min-height: 500px;
    background: #fff;
    border-radius: 24px;
    padding: 40px;
    display: flex;
    flex-direction: column;

    .modal-title {
      font-family: 'Alibaba PuHuiTi';
      font-size: 32px;
      color: #333;
      text-align: center;
      margin-bottom: 60px;
    }

    .message-input {
      font-family: 'Alibaba PuHuiTi'; 
      width: 100%;
      min-height: 200px;
      font-size: 28px;
      color: #333333;
      box-sizing: border-box;
      border: 2px solid #f5f5f5;
      border-radius: 16px;
      padding: 24px;
      margin: 20px 0;
    }

    .purple-confirm-button {
      font-family: 'Alibaba PuHuiTi';
      width: 75%;
      height: 71px;
      color: #333333;
      font-size: 32px;
      background: #F5F5F5;
      border: 4px solid #7A63C7;
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      margin-top: auto;
      margin-bottom: 40px;
    }

    .yellow-confirm-button {
      font-family: 'Alibaba PuHuiTi';
      width: 75%;
      height: 71px;
      color: #333333;
      font-size: 32px;
      background: #F5F5F5;
      border: 4px solid #ffd35e;
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      margin-top: auto;
      margin-bottom: 40px;
    }
  }
}

.like-modal-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

  .like-modal {
    width: 600px;
    min-height: 500px;
    background: #fff;
    border-radius: 24px;
    padding: 40px;
    display: flex;
    flex-direction: column;

    .modal-title {
      font-family: 'Alibaba PuHuiTi';
      font-size: 32px;
      color: #333;
      text-align: center;
      margin-bottom: 60px;
    }

    .message-input {
      font-family: 'Alibaba PuHuiTi'; 
      width: 100%;
      min-height: 200px;
      font-size: 28px;
      color: #333333;
      box-sizing: border-box;
      border: 2px solid #f5f5f5;
      border-radius: 16px;
      padding: 24px;
      margin: 20px 0;
    }

    .purple-confirm-button {
      font-family: 'Alibaba PuHuiTi';
      width: 75%;
      height: 71px;
      color: #333333;
      font-size: 32px;
      background: #F5F5F5;
      border: 4px solid #7A63C7;
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      margin-top: auto;
      margin-bottom: 40px;
    }

    .yellow-confirm-button {
      font-family: 'Alibaba PuHuiTi';
      width: 75%;
      height: 71px;
      color: #333333;
      font-size: 32px;
      background: #F5F5F5;
      border: 4px solid #ffd35e;
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      margin-top: auto;
      margin-bottom: 40px;
    }
  }
}
