.user-profile {
  padding: 16px;
  margin-bottom: 10px;
  border-radius: 8px;

  .profile-title {
    font-size: 34px; 
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }

  .profile-content {
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    ; // Use a white background for the card
    padding: 16px; // Add padding for space inside the card
    border-radius: 8px; // Rounded corners for the card effect
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); // Card shadow for depth
    border: 1px solid #e0e0e0; // Subtle border for better definition
    margin-top: 10px; // Margin above for separation

    .avatar {
      width: 60px;
      height: 60px;
      border-radius: 50%; 
      margin-right: 16px; 
      object-fit: cover;
      border: 2px solid #ccc; 
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); // Shadow on the avatar
    }

    .info {
      .name {
        font-size: 24px; 
        font-weight: bold;
        color: #333;
      }

      .tags {
        display: flex;
        flex-wrap: wrap;
        margin-top: 4px;

        .tag {
          background-color: #e0e0e0; 
          border-radius: 12px; 
          padding: 4px 10px; 
          font-size: 24px;
          margin-right: 6px; 
          color: #666;
        }
      }
    }
  }
}
