.page-notification {
  .notification-cards-wrap {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .notification-buttons {
    display: flex;
    height: 80px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 26px;
    color: #191919;
    margin: 0 5% 0 5%;
    border-bottom: 1px solid #0000004d;
    .button {
      width: 80px;
      margin-right: 10px;
      &.active {
        font-size: 32px;
      }
    }
  }
}
