.seek-reply-text-title {
  color: #979797;
  font-weight: bold;
  font-size: 28px;
}
.seek-reply-caution-text {
  margin: 20px 20px;
  font-size: 30px;
  color: #6b63b9;
}
.seek-reply-avatar-image {
  width: 80px;
  height: 80px;
  border-radius: 3px;
  justify-content: center;
  margin-top: 20px;
  display: flex;
}
.seek-reply-input-text-container {
  background-color: #f7f7f7;
  border-radius: 20px;
  margin-top: 20px;
  Input {
    color: #979797;
  }
}
.seek-reply-input-text {
  margin: 20px 20px;
  color: #979797;
}
.seek-reply-board {
  .des-text {
    padding-top: 15px;
  }
}
.seek-reply-board-dialog {
  .selection-part {
    background-color: white;
    margin-top: 8px;
    &.last {
      margin-bottom: 8px;
    }
  }

  .selection-content {
    margin: 20px 40px;
    display: flex;
    width: 95%;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
  }
  .selection-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;

    Text {
      font-size: 28px;
      color: #222222;
    }
  }
  .icon-container {
    width: 68px;
    height: 68px;
    border-radius: 68px;
    background-color: #eceaff;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    .utility-pic {
      width: 55%;
      height: 55%;
    }
    .capacity-pic {
      width: 100%;
      height: 100%;
      margin-left: 12px;
    }

    Image {
      width: 48px;
      height: 48px;
    }
  }
  .selection-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-grow: 1;
    min-height: 60px;
    // max-width: 90%;
    border-bottom: 1px solid #97979786;
    // padding-bottom: 20px;
    &-right {
      display: flex;
      align-items: center;
    }
    Image {
      width: 24px;
      height: 24px;
      margin-left: 10px;
    }
    Text {
      color: #979797;
      font-size: 26px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .post-submit-button {
    width: 90%;
    margin-left: 5%;
    height: 90px;
    border-radius: 60px;
    background-color: #d6d6d6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 160px;
    margin-top: 20px;
    background-color: #d6d6d6;
    color: #ffffff;
    font-size: 30px;
    //保证吸底的CustomTabBar不会遮挡
  }
  .seek-reply-board-editable-container {
    max-width: 100%;
    padding: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .avatar-image {
      width: 120px;
      height: 120px;
      border-radius: 3px;
    }
    .seek-reply-board-editable-name {
      margin-top: 1px;
      color: #979797;
      font-size: 24px;
    }
    .wechat-id-input {
      overflow: scroll;
      background-color: #f2f2f2;
      border-radius: 20px;
      padding-left: 30px;
      min-width: 500px;
      max-width: 500px;
      height: 80px;
      display: flex;
      font-size: 26px;
      align-items: center;
      color: #979797;
      display: flex;
      align-items: center;
      // margin: 0px 75px;
      margin-top: 30px;
    }
    .contact-text-container {
      padding: 20px;
      margin-top: 30px;
      background-color: #f2f2f2;
      border-radius: 20px;
      min-width: 500px;
      max-width: 500px;
      display: flex;
      font-size: 26px;
      align-items: center;
      color: #979797;
      display: flex;
      align-items: center;
    }
  }
  .seek-reply-board-uneditable {
    min-width: 90%;
    border-top: 1px solid #97979787;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .avatar-image {
      width: 120px;
      height: 120px;
      border-radius: 3px;
    }
    .house-owner-name {
      margin-top: 1px;
      color: #979797;
      font-size: 24px;
    }
    .wechat-id {
      background-color: #f2f2f2;
      border-radius: 20px;
      padding-left: 30px;
      min-width: 500px;
      max-width: 500px;
      height: 80px;
      display: flex;
      font-size: 26px;
      align-items: center;
      color: #979797;
      display: flex;
      align-items: center;
      margin: 0px 75px;
      margin-top: 30px;
    }
    .message-from-house-owner {
      margin-top: 30px;
      background-color: #f2f2f2;
      border-radius: 20px;
      padding-left: 30px;
      min-width: 500px;
      max-width: 500px;
      height: 80px;
      display: flex;
      font-size: 26px;
      align-items: center;
      color: #979797;
      display: flex;
      align-items: center;
    }
  }
}
