.star-rating {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  font-size: 20px;
  margin-bottom: 20px;
  .rating-label {
    margin-right: 30px;
    // margin-left: 60px;
    font-size: 25px;
    color: #2e2e2e;
    text-align: left;
    width: 150px;
  }
  .stars {
    width: 75%;
    display: flex;
    justify-content: space-around;
  }
  .star {
    font-size: 40px;
    cursor: pointer;
    margin: 0 7px;
    width: 50px;
  }
  .filled {
    color: gold; // Or any color you prefer for filled stars
  }
  .unfilled {
    color: #ccc; // Light gray for unfilled stars
  }
  .rating-name {
    margin-left: 20px;
    font-size: 25px;
    color: #979797;
    width: 100px;
  }
}
