.comment-card {
  background-color: #ffffff;
  border-radius: 25px;
  width: 480px;
  height: 250px;
  border-color: #9b9b9b;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 50px;
  margin-bottom: 20px;
  position: relative;
  border: 1px solid #e0e0e0;
  margin-right: 20px;
  overflow: hidden;
}


.comment-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.comment-profile {
  display: flex;
  align-items: center;
}

.profile-image-comment {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

.profile-info-comment {
  display: flex;
  flex-direction: column;
}

.profile-name-comment {
  font-size: 20px;
  font-weight: bold;
  color: #999;
  margin-bottom: 10px;
}

.profile-location-comment {
  font-size: 18px;
  color: #999;
}

.comment-rating {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.rating-stars {
  flex-direction: row;
}

.star {
  font-size: 40px;
  color: #e0e0e0;
}

.star.filled {
  font-size: 40px;
  color: #ffd700;
}

.rating-dates {
  font-size: 18px;
  color: #9b9b9b;
  margin-left: 10px;
}

.rating-number {
  font-size: 26px;
  color: #9b9b9b;
  margin-left: 15px;
}

.comment-body {
  height: calc(100% - 40px); /* Ensures space for footer */
  overflow: hidden;
  position: relative; /* Ensures positioning for footer */
}

.comment-text {
  font-size: 22px;
  color: #4d4d4d;
  line-height: 1.5;
  max-height: calc(1.5em * 4);; /* Leaves space for the footer */
  overflow: hidden; /* Hides overflow content */
  text-overflow: ellipsis; /* Adds ellipsis if content is truncated */
  display: -webkit-box; /* Enables multiline truncation */
  -webkit-line-clamp: 4; /* Limits to 4 lines */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  width: 100%; 
}


.comment-footer {
  position: absolute; /* Ensures it's fixed within the card */
  bottom: 20px; /* Aligns at the bottom */
  left: 45px; 
}

.show-more {
  font-size: 22px;
  text-decoration: underline;
  cursor: pointer;
}

