.message-card {
  height: 120px;
}

.message-card.private {
  display: flex;
  align-items: flex-start;
  padding: 16px;
  border-bottom: 1px solid #e5e5e5;
}

.message-card.private .inner-wrapper {
  display: flex;
  align-items: flex-start;
  flex: 1;
}

.message-card.private .inner-wrapper .avatar-placeholder {
  width: 90px;
  height: 90px;
  background: #ccc;
  border-radius: 50%;
  margin-right: 15px;
}

.message-card.system .inner-wrapper .avatar-placeholder {
  width: 90px;
  height: 90px;
  background: #ccc;
  border-radius: 50%;
  margin-right: 15px;
}

.message-card.private .inner-wrapper .content {
  flex: 1;

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;

    .title {
      font-weight: bold;
      font-size: 30px;
      color: #333;
    }

    .status {
      font-size: 26px;
      color: #888;
    }
  }

  .des {
    flex: 1;
    display: flex;
    flex-direction: column;

    .description {
      font-size: 26px;
      color: #555;
    }

    .meta {
      font-size: 26px;
      color: #999;
      margin-top: 4px;
    
      display: -webkit-box; /* 设置为弹性盒子模型 */
      -webkit-box-orient: vertical; /* 垂直方向排列子元素 */
      -webkit-line-clamp: 1; /* 限制显示的行数为 1 */
      overflow: hidden; /* 超出隐藏 */
      text-overflow: ellipsis; /* 显示省略号 */
    }
  }
}

.message-card.private .inner-wrapper .timestamp {
  font-size: 26px;
  color: #aaa;
  margin-left: 8px;
}

.message-card.private .inner-wrapper .image-right {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
  margin-left: 12px;
  margin-top: 12px;
  background-color: #555;
}

/* 系统消息样式 */
.message-card.system {
  display: flex;
  align-items: flex-start;
  padding: 16px;
  background-color: cc;/* 更浅的背景色 */
  border-bottom: 1px solid #e5e5e5;
}

.message-card.system .inner-wrapper {
  display: flex;
  align-items: flex-start;
  flex: 1;
}

.message-card.system .inner-wrapper .avatar-placeholder {
  width: 90px;
  height: 90px;
  background: #ccc;
  border-radius: 50%;
  margin-right: 15px;
}

/* system-content 容器 */
.message-card.system .system-content {
  display: flex;
  justify-content: space-between; /* 左右两部分分开 */
  align-items: center; /* 右侧时间戳垂直居中 */
  flex: 1;
}

/* 左侧内容（上下排列） */
.message-card.system .system-content .left-content {
  display: flex;
  flex-direction: column; /* 子元素上下排列 */
}

/* 标题样式 */
.message-card.system .system-content .left-content .title {
  font-weight: bold;
  font-size: 30px;
  color: #000000;
  margin-bottom: 4px;
}

/* 描述样式 */
.message-card.system .system-content .left-content .description {
  font-size: 26px;
  color: #888;
}

/* 时间戳样式 */
.message-card.system .system-content .timestamp {
  font-size: 24px;
  color: #bbb;
  align-self: center; /* 垂直居中 */
}