.text-block-wrap {
  padding: 0px 50px;
  border-top: 1px solid #d6d6d6;
  background-color: #fff;
  .text-block-title {
    height: 100px;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
  }
  .text-block-body {
    // height: 70px;
    font-size: 28px;
    color: #979797;
  }
  padding-bottom: 30px;
}
