.house-info-card {
  display: flex;
  align-items: center;
  margin-top: 10px;
  border-radius: 8px;
  padding: 5% 5%;
  justify-content: flex-start;
  height: auto; /* Adjust height as needed */
  width: 100%;
  border-bottom: 2px solid rgba(214, 214, 214, 0.2);

  .activity-image {
    width: 150px;
    height: 150px;
    margin-right: 15px;
    border-radius: 8px;
    object-fit: cover;
  }

  .application-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;

    .application-title {
      font-size: 30px;
      color: #000000;
      margin-bottom: 5px;
    }

    .application-owner {
      font-size: 18px;
      color: #979797;
      margin-bottom: 5px;
    }

    .details {
      display: flex;
      flex-direction: column; /* Ensures vertical layout */
      align-items: flex-start;

      .detail-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 6px;
        background-color: #eee;
        padding: 4px 8px;
        border-radius: 20px;
        color: #666;

        .icon {
          width: 16px;
          height: 16px;
          margin-right: 16px;
          margin-bottom: 6px;
        }

        .text {
          font-size: 16px;
          color: #666;
        }
      }
    }
  }
}
