.index {
    display: flex;
    flex-direction: column;
  }
  .post-submit-button {
    width: 90%;
    margin-left: 5%;
    height: 90px;
    border-radius: 60px;
    background-color: #d6d6d6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 160px;
    margin-top: 20px;
    background-color: #d6d6d6;
    color: #ffffff;
    font-size: 30px;
    //保证吸底的CustomTabBar不会遮挡
  }
  