.index {
  display: flex;
  flex-direction: column;
}
.post-submit-button {
  width: 90%;
  margin-left: 5%;
  height: 90px;
  border-radius: 60px;
  background-color: #ffd111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 40px;
  margin-top: 20px;
  color: #ffffff;
  font-size: 30px;
}
